@import 'styles/common.scss';

.feedbackWrap {
  width: 100%;
  height: $feedback-height;
  background-color: #ebfaea;
  .selectWrap {
    display: flex;
    padding: 1rem;
    height: 10vh;
    .feedbackTitle {
      display: flex;
      align-items: center;
      width: 33%;
      font-size: 2rem;
    }
    .select {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      font-size: 2rem;
      border-radius: 10px;
    }
  }
  .logWrap {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
