@import 'styles/common.scss';

.mainPageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  //min-width
  height: $mainProfile-height;
  color: white;
  background-color: white;
  .profileInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    //min-width
    height: 100%;
    .profileImageWrapper {
      min-width: 17vh;
      min-height: 17vh;
      margin-left: 5vw;
      position: relative;
      //반응형으로 크기 조정필요
      .profileImage {
        border-radius: 50%;
      }
    }
    .profileInfo {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 80%;
      padding: 0 1rem;
      border-radius: 5px;
      margin-left: 5vw;
      background-color: rgba(0, 0, 0, 0.6);
      .idWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .intraId {
          font-size: 1.8rem;
          font-weight: 900;
        }
        .blackhole {
        }
      }
      .campusWrapper {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        font-weight: 900;
      }
      .evalWrapper {
        display: flex;
        align-items: flex-end;
        .totalEval {
        }
        .weeklyEval {
        }
      }
    }
  }
  .profileGrade {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    //min-width
    height: 100%;
    width: 40rem;
    .gradePic {
      height: 10rem;
      width: 10rem;
    }
    .rates {
      display: flex;
      width: 20rem;
      .gradeGraph {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        .progressbar {
          width: 20rem;
          height: 2rem;
        }
      }
      .gradeInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wordCount {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 1rem;
        }
        .timeCount {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 1rem;
        }
      }
    }
  }
}
