@import 'styles/common.scss';

.navbar {
  display: flex;
  align-items: center;
  height: $navbar-height;
  background-color: $color-const-main-background;
  color: $color-const-main-primary;
  justify-content: space-between;
  .logo {
    width: $logo-size;
    height: $logo-size;
    position: relative;
  }
  .searchBar {
    width: $searchbar-width;
    height: $searchbar-height;
  }
  .icon {
    width: $icon-size;
    height: $icon-size;
    margin-left: $icon-margin;
    position: relative;
  }
  .leftWrapper {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-around;
  }
  .rightWrapper {
    display: flex;
    align-items: center;
    margin-right: $icon-margin;
  }
}
