@import 'styles/common.scss';

.navbar {
  display: flex;
  align-items: center;
  height: $navbar-height;
  background-color: $main-color;
  color: #fff;
  justify-content: space-between;
  .logo {
    width: $logo-size;
    height: $logo-size;
    position: relative;
  }
  .searchBar {
    width: $searchbar-width;
    height: $searchbar-height;
  }
  .icon {
    width: $icon-size;
    height: $icon-size;
    position: relative;
  }
  ul {
    margin-left: $icon-margin;
  }
  .leftWrapper{
    display: flex;
    align-items: center;
  }
  .rightWrapper{
    display: flex;
    align-items: center;
    margin-right: $icon-margin;
  }
}
